* {
  $pi: 3.1416;
  $cylinder-width: 100vw;
  $face-count: 50;
  $face-deg: (
    360deg / $face-count
  );
  $face-width: (
    $cylinder-width / $face-count
  );
  $face-shift: (
    $cylinder-width / $pi / 2
  );
}

.holder {
  transform-style: preserve-3d;
  transform: rotateX(-35deg);
}

.cylinder {
  position: relative;
  height: 50vw;
  width: $cylinder-width;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  background-color: #da0060;
  opacity: 0.7;
  height: 100%;
  width: $face-width;
  top: 50%;
  left: 50%;
  transform: rotateY(calc(var($face-deg) * var(--index))) translateZ(calc(#{$face-shift} - -6px));
}
