* {
  font-family: "Fuzzy Bubbles", sans-serif;
}

body {
  background-image: url("chalkboard.jpg");
  background-size: cover;
  margin: 0;
}

.page-header {
  height: 15vh;
  background-color: #2c0b03;
}

.header-title {
  color: white;
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
}

.add-deck {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
  font-size: 2rem;
}

.add-deck:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.new-deck {
  padding: 1rem;
  background-color: #2a0800;
  color: white;
  border: none;
  border-radius: 0.25rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.scene {
  position: relative;
  width: 100%;
}

.peepers {
  margin-top: 0;
}

.deck-text {
  font-size: 3rem;
  padding-left: 2rem;
}

.option-image {
  margin-left: 12rem;
}

.folder {
  margin-left: 30rem;
  margin-top: 10rem;
}

.folder-front {
  position: absolute;
  width: 640px;
  height: 330px;
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 2px solid brown;
  z-index: 2;
  transition: transform 0.25s;
}

.folder-back {
  position: absolute;
  width: 640px;
  height: 330px;
  background-color: #fff3cd;
  border-radius: 0 0.5rem 0 0;
  z-index: -2;
}

.option-paper {
  position: absolute;
  transform: translateX(-4px) translateY(-4px);
  background-color: white;
  width: 640px;
  height: 330px;
  background-image: url("line-paper.png");
  background-size: cover;
}

.extra-text {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.folder-tab {
  position: absolute;
  width: 200px;
  height: 20px;
  bottom: -0;
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: -2;
}

.folder-front:hover {
  transform: translateY(7px) rotateX(-20deg);
}

.option-paper.is-showing {
  animation: show-paper 1s linear 1;
  transform: translateX(-4px) translateY(8px);
}

.option-paper.in-front {
  z-index: 3;
}

.option-paper.hiding {
  animation: hide-paper 1s linear 1;
}

.modal-background {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-deck {
  border: none;
  background-color: transparent;
  margin-top: 2rem;
  margin-left: 8rem;
  font-size: 1.25rem;
}

/* Some positioning and ratios */
.sticky-container {
  width: 400px;
  height: 400px;

  /* max-width: 270px; */
  position: relative;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5926%;
  position: relative;
  width: 100%;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky::before {
  box-shadow: -2px 2px 15px 0 rgb(0 0 0 / 50%);
  background-color: rgb(0 0 0 / 25%);
  content: "";
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  background:
    linear-gradient(
      180deg,
      rgb(240 255 187) 0%,
      rgb(240 255 187 / 100%) 12%,
      rgb(236 241 170) 75%,
      rgb(244 243 195) 100%
    );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  clip-path: url("#stickyClip");
}

.modal-title {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.modal-input {
  width: 90%;
  height: 4vh;
  margin-left: 0.5rem;
}

/* Add responsiveness */
@media screen and (min-width: 640px) {
  .sticky::before {
    height: 79%;
    width: 90%;
  }

  .sticky-content {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .sticky::before {
    height: 75%;
    width: 90%;
  }

  .sticky-content {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .sticky::before {
    height: 73%;
    width: 90%;
  }

  .sticky-content {
    font-size: 1.875rem;
  }
}

@keyframes show-paper {
  0% {
    transform: 0;
  }

  40% {
    transform: translateY(-20rem);
  }

  100% {
    transform: 0;
    z-index: 3;
  }
}

@keyframes hide-paper {
  0% {
    transform: 0;
  }

  60% {
    transform: translateY(-20rem);
  }

  100% {
    transform: 0;
  }
}
