* {
  font-family: "Fuzzy Bubbles", sans-serif;
}

body {
  background-image: url("chalkboard.jpg");
  background-size: cover;
}

.flashcard {
  margin: 10rem auto;
  width: 625px;
  height: 285px;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  transform-origin: center;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(253 246 166);
  position: absolute;
}

.back {
  transform: rotateY(180deg);
}

.red-line {
  margin-top: 4rem;
  height: 1px;
  width: 100%;
  background-color: red;
}

.blue-line {
  margin-top: 1.5rem;
  height: 0.5px;
  width: 100%;
  background-color: rgb(134 167 211);
}

.question {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}
