.bar {
  margin: auto;
  width: 50%;
  aspect-ratio: 2 / 1;
  position: relative;
  border-radius: 100rem 100rem 0 0;
}

.circles {
  position: absolute;
  inset: 0;
  border-radius: 100rem 100rem 0 0;
  background-color: transparent;
  background-image:
    radial-gradient(ellipse at 20% 40%, rgb(156 100 50) 10%, transparent 15%),
    radial-gradient(circle at 70% 30%, rgb(79 8 8) 1%, transparent 20%),
    radial-gradient(ellipse at 60% 70%, rgb(107 70 70) 1%, transparent 15%);

  /* background-blend-mode: multiply; */
  background-size: 100% 200%;

  /* box-shadow: inset 0 5px 100px 25px rgb(80 65 56); */

  animation: planet 20s linear infinite;
}

.surface {
  position: absolute;
  inset: 0;
  border-radius: 100rem 100rem 0 0;
  background:
    linear-gradient(
      to bottom,
      orange,
      red,
      orange,
      brown,
      orange,
      red,
      orange
    );
  box-shadow: inset 0 5px 100px 25px rgb(80 65 56);
  background-size: 100% 200%;
  animation: planet 20s linear infinite;
}

@keyframes planet {
  0% {
    background-position: center 0%;
  }

  100% {
    background-position: center -200%;
  }
}
