.bar {
  margin: auto;
  width: 50%;
  aspect-ratio: 2 / 1;
  position: relative;
  border-radius: 100rem 100rem 0 0;
}

.circles-1 {
  position: absolute;
  inset: 0;
  border-radius: 100rem 100rem 0 0;
  background-image:
    radial-gradient(circle at 10% 41%, black 1%, transparent 2%),
    radial-gradient(circle at 11% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 15% 48%, black 1%, transparent 2%),
    radial-gradient(circle at 17% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 19% 47%, black 1%, transparent 2%),
    radial-gradient(circle at 22% 44%, black 1%, transparent 2%),
    radial-gradient(circle at 24% 52%, black 1%, transparent 2%),
    radial-gradient(circle at 27% 48%, black 1%, transparent 2%),
    radial-gradient(circle at 29% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 31% 54%, black 1%, transparent 2%),
    radial-gradient(circle at 35% 53%, black 1%, transparent 2%),
    radial-gradient(circle at 37% 50%, black 1%, transparent 2%),
    radial-gradient(circle at 38% 46%, black 1%, transparent 2%),
    radial-gradient(circle at 41% 48%, black 1%, transparent 2%),
    radial-gradient(circle at 43% 41%, black 1%, transparent 2%),
    radial-gradient(circle at 44% 44%, black 1%, transparent 2%),
    radial-gradient(circle at 47% 47%, black 1%, transparent 2%),
    radial-gradient(circle at 49% 43%, black 1%, transparent 2%),
    radial-gradient(circle at 50% 52%, black 1%, transparent 2%),
    radial-gradient(circle at 52% 55%, black 1%, transparent 2%),
    radial-gradient(circle at 56% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 57% 50%, black 1%, transparent 2%),
    radial-gradient(circle at 59% 48%, black 1%, transparent 2%),
    radial-gradient(circle at 62% 53%, black 1%, transparent 2%),
    radial-gradient(circle at 64% 50%, black 1%, transparent 2%),
    radial-gradient(circle at 65% 47%, black 1%, transparent 2%),
    radial-gradient(circle at 67% 43%, black 1%, transparent 2%),
    radial-gradient(circle at 69% 44%, black 1%, transparent 2%),
    radial-gradient(circle at 72% 46%, black 1%, transparent 2%),
    radial-gradient(circle at 74% 41%, black 1%, transparent 2%),
    radial-gradient(circle at 76% 45%, black 1%, transparent 2%),
    radial-gradient(circle at 77% 47%, black 1%, transparent 2%),
    radial-gradient(circle at 80% 49%, black 1%, transparent 2%),
    radial-gradient(circle at 82% 53%, black 1%, transparent 2%),
    radial-gradient(circle at 83% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 85% 54%, black 1%, transparent 2%),
    radial-gradient(circle at 89% 47%, black 1%, transparent 2%),
    radial-gradient(circle at 91% 51%, black 1%, transparent 2%),
    radial-gradient(circle at 93% 50%, black 1%, transparent 2%);

  /* background-size: 100% 200%; */

  /* animation: planet 20s linear infinite; */
}

.surface {
  position: absolute;
  inset: 0;
  border-radius: 100rem 100rem 0 0;
  background:
    linear-gradient(
      to bottom,
      orange,
      red,
      orange,
      brown,
      orange,
      red,
      orange
    );
  box-shadow: inset 0 5px 100px 25px rgb(80 65 56);
  background-size: 100% 200%;

  /* animation: planet 20s linear infinite; */
}

.texture-1 {
  position: absolute;
  bottom: 15%;

  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
  box-shadow:
    15px -25px 10px 10px black,
    40px -5px 5px 5px black,
    0 10px 5px 5px black,
    -25px 17px 10px 10px black,
    -20px -25px 5px 5px black,
    25px 15px 5px 5px black,
    55px 27px 10px 10px black,
    40px -5px 5px 5px black,
    80px 10px 5px 5px black,
    100px 7px 10px 10px black,
    200px -5px 5px 5px black,
    250px 10px 5px 5px black,
    -150px 7px 10px 10px black,
    -225px -5px 5px 5px black,
    -175px 10px 5px 5px black,
    -75px 25px 10px 10px black,
    -100px -5px 5px 5px black,
    -60px 10px 5px 5px black;
  background-size: 100% 200%;
}

@keyframes planet {
  0% {
    background-position: center 0%;
  }

  100% {
    background-position: center -200%;
  }
}
